index/index_swissprot/swissprot.lookup filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_h.index filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_mapping filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ss.index filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot.version filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ss.dbtype filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot.dbtype filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot.index filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ca.index filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_h filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ss filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ca filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_ca.dbtype filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_h.dbtype filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/swissprot_taxonomy filter=lfs diff=lfs merge=lfs -text
index/index_swissprot/* filter=lfs diff=lfs merge=lfs -text
