.vscode
.cache
.DS_Store
/Archive
/cwl_cache
/index
/Data
/metascape_result
/notebooks/cache
/notebooks/archive
/out/rice_up
/out/rice_down
/r-env
/scripts/archive
/test/oryza_sativa_test/uniprotkb_human_all_241107.fasta
/test/oryza_sativa_test/uniprotkb_rice_all_240820.fasta
/test/oryza_sativa_test/index_hit_species/*
/test/oryza_sativa_test/index_query_species/*
cmd_history.txt