.vscode
.cache
Archive/
/Data
/cwl_cache
/index/index_human_proteome_v6
/index/index_swiss_prot
/index/index_uniprot_afdb_all_sequences_v6
/index/afdb_all_sequences_v6.fasta.gz
/index/UP000005640_9606_HUMAN_v6.tar

/WorkflowHub_README.md

/notebooks/random_generate_gene_202509.ipynb
/notebooks/random_generate_gene_arabidopsis.ipynb
/notebooks/random_generate_gene_zm.ipynb
/notebooks/random_generate_gene_sl.ipynb
notebooks/random_generate_gene_gm.ipynb

.DS_Store
/index/.DS_Store

/test/oryza_sativa_test_100genes_202512/plant2human_v3_permissive_result/result_needle/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_permissive_result/result_water/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_permissive_result/split_fasta_hit_species/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_permissive_result/split_fasta_query_species/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_stringent_result/result_needle/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_stringent_result/result_water/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_stringent_result/split_fasta_hit_species/
/test/oryza_sativa_test_100genes_202512/plant2human_v3_stringent_result/split_fasta_query_species/


/test/arabidopsis_test_100genes_202512/result_needle/
/test/arabidopsis_test_100genes_202512/result_water/
/test/arabidopsis_test_100genes_202512/split_fasta_hit_species/
/test/arabidopsis_test_100genes_202512/split_fasta_query_species/

/test/zea_mays_test_100genes_202512/result_needle/
/test/zea_mays_test_100genes_202512/result_water/
/test/zea_mays_test_100genes_202512/split_fasta_hit_species/
/test/zea_mays_test_100genes_202512/split_fasta_query_species/
/test/zea_mays_test_100genes_202512/zm_100_genes_afinfo_json/
/test/zea_mays_test_100genes_202512/zm_100_genes_mmcif/

/test/solanum_lycopersicum_test_100genes_202512/result_needle/
/test/solanum_lycopersicum_test_100genes_202512/result_water/
/test/solanum_lycopersicum_test_100genes_202512/split_fasta_hit_species/
/test/solanum_lycopersicum_test_100genes_202512/split_fasta_query_species/
/test/solanum_lycopersicum_test_100genes_202512/sl_100_genes_afinfo_json/
/test/solanum_lycopersicum_test_100genes_202512/sl_100_genes_mmcif/

/test/glycine_max_test_100genes_202512/result_needle/
/test/glycine_max_test_100genes_202512/result_water/
/test/glycine_max_test_100genes_202512/split_fasta_hit_species/
/test/glycine_max_test_100genes_202512/split_fasta_query_species/
/test/glycine_max_test_100genes_202512/gm_100_genes_afinfo_json/
/test/glycine_max_test_100genes_202512/gm_100_genes_mmcif/

/test/zea_mays_test/uniprotkb_9606_all.fasta
/test/zea_mays_test/uniprotkb_4577_all.fasta
/test/oryza_sativa_test/index_hit_species/*
/test/oryza_sativa_test/index_query_species/*
/test/zea_mays_test/index_hit_species/*
/test/zea_mays_test/index_query_species/*
/test/zea_mays_test/result_needle/*
/test/zea_mays_test/result_water/*
/test/zey_mays_test/zea_mays_random_gene_afinfo/*
/test/zey_mays_test/zea_mays_random_gene_mmcif/*
/test/zey_mays_test/split_fasta_hit_species/*
/test/zey_mays_test/split_fasta_query_species/*
/test/zea_mays_test/foldseek_output_swissprot_zm_random_evalue01.tsv
cmd_history.txt
/notebooks/cwl2puml_test.ipynb