.vscode
.cache
/index/index_pdb
.DS_Store
/index/.DS_Store
/cwl_cache
/Data
/scripts/archive
/test/oryza_sativa_test/uniprotkb_39947_all.fasta
/test/oryza_sativa_test/uniprotkb_9606_all.fasta
/test/zea_mays_test/uniprotkb_9606_all.fasta
/test/zea_mays_test/uniprotkb_4577_all.fasta
/test/oryza_sativa_test/index_hit_species/*
/test/oryza_sativa_test/index_query_species/*
/test/zea_mays_test/index_hit_species/*
/test/zea_mays_test/index_query_species/*
/test/zea_mays_test/result_needle/*
/test/zea_mays_test/result_water/*
/test/zey_mays_test/zea_mays_random_gene_afinfo/*
/test/zey_mays_test/zea_mays_random_gene_mmcif/*
/test/zey_mays_test/split_fasta_hit_species/*
/test/zey_mays_test/split_fasta_query_species/*
/test/zea_mays_test/foldseek_output_swissprot_zm_random_evalue01.tsv
cmd_history.txt